tools/
.DS_Store
*.hack
*.asm
*.class
*.cmp
*.out
*.tst
*.vm
*.html

projects/0
projects/1
projects/2
projects/3
projects/5
projects/10
projects/11
projects/12
projects/13

projects/9/Average/
projects/9/ComplexArrays/
projects/9/ConvertToBin/
projects/9/Fraction/
projects/9/HelloWorld/
projects/9/List/
projects/9/Pong/
projects/9/Square/